* {
  font-family: Courier New , Courier , monospace;
  margin: 0;
  padding: 0;
}

.App, .flex-column {
  display: flex;
  flex-direction: column;
}

.Header {
  border: 1px solid black;
  font-size: 2em;
  padding: 60px;
  text-align: center;
}

.Filters {
  border: 1px solid black;
  padding: 30px;
}

.Table {
  border: 1px solid black;
  padding: 25px;
  width: 200px;
}

.flex-row {
  display: flex;
  justify-content: space-evenly;
}
